<div class="row checkout-page">
  <div class="col-md-8 col-md-offset-2">
    <div class="order-form">
      <%= simple_form_for @order do |f| %>
        <legend> Payment Information </legend>
        <div class="form-group col-lg-12">
          <%= f.input :billing_name, label: "Customer" %>
        </div>
        <div class="form-group col-lg-12">
          <%= f.input :billing_address, label: "Billing Address" %>
        </div>
        <legend> Recevior Information </legend>
        <div class="form-group col-lg-12">
          <%= f.input :shipping_name, label: "Recevior" %>
        </div>
        <div class="form-group col-lg-12">  
          <%= f.input :shipping_address, label: "Shipping Address" %>
        </div>
        <div class="checkout text-center">
          <%= f.submit "Place Order", class: "btn btn-lg btn-danger", data: {disable_with: "Submitting..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
