<div class="row">
  <div class="product-content">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-leaf">
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url) %>
            <i class="fa fa-plus"></i>

          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <h3><%= product.title %></h3>
          <p><%= product.price %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

 
