<div class="container product-show-page">
  <div class="row">
    <div class="show-option">
      <span>All Products</span>  >   <%= link_to(@product.category.name, products_path(category: @product.category.name)) %>
      <span class="pull-right"><%= link_to("Back", url_for(:back)) %></span>
    </div>

    <div class="product-show-box">
      <!-- product picture -->
      <div class="col-md-5">
        <% if @product.image.present? %>
          <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
      </div>

      <div class="col-md-7">
        <!-- product title  -->
        <h2 class="product-title"><%= @product.title%></h2>

        <!-- <div class="rating">
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
        </div> --> 

        <!-- product description  -->
        <div class="product-description">
          <span>
            <!-- <%= simple_format(@product.description) %> -->
            <%= @product.description %>
          </span>
        </div>

        <!-- product price -->
        <div class="product-price">
          $ <%= @product.price %>
        </div>

        <div class="row">
          <div class="col-sm-6">

            <div class="product-detail">
              Category: <%= link_to(@product.category.name, products_path(category: @product.category.name)) %>

            </div>
            <!-- product quantity -->
            <div class="product-detail">
              Quantity: <%= @product.quantity %>
            </div>

            <div class="product-detail">
              <span> Overall Rating </span>
            </div>
          </div>
        </div>


        <!-- button -->
        <div class="add-to-cart-buttom row">
            <!-- add product to cart -->
          <div class="col-sm-6">
            <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("Add to cart", add_to_cart_product_path(@product), method: :post, class: "btn btn-primary") %>
            <% else %>
              <a href="#" class="btn btn-danger active" role="button" disabled="disabled">Current not available</a>
            <% end %>
            <%= link_to("Add to wishlist", "#", method: :post, class: "btn btn-danger") %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
