<body class="welcome welcome-index">
  <div id="qz-wrapper">
    <nav class="navbar navbar-default welcome-index-navbar " id="qz-header">
      <div class="navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <!-- <span class="logo"><img src="<%= image_url 'logo.png'%>"> FoodWorld </span> -->
            <span class="logo"><img src="<%= image_url 'lego-logo.svg'%>" > LEGO </span>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left navbar-link">
            <li><%= link_to("Products", products_path) %></li>
            <li><a href="/pages/students">My Orders</a></li>
            <li><a href="#">Wish List</a></li>
            <li>
              <%= link_to carts_path do %>
                Cart <i class="fa fa-shopping-cart"></i>(<%= current_cart.products.count %>)
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><%= button_to('Sign Up',new_user_registration_path, method: :get, class: "sign-up-btn") %></li>
              <li><%= button_to('Log In', new_user_session_path, method: :get, class: "log-in-btn") %></li>
            <% else %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi, <%= current_user.email %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li> <%= link_to("Admin Menu", admin_products_path) %> </li>
                    <% end %>
                    <li> <%= link_to("Your Order", account_orders_path) %> </li>
                    <li><%= link_to(content_tag(:i, 'Sign Out', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                  </ul>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</body>

<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <!-- <ul class="nav navbar-nav navbar-left navbar-link">
        <li class="active">
          <%= link_to("Products", products_path) %>
        </li>
      </ul> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
            Cart <i class="fa fa-shopping-cart"></i>(<%= current_cart.products.count %>)
          <% end %>
        </li>
        <% if !current_user %>
          <li><%= link_to("Sign Up", new_user_registration_path) %></li>
          <li><%= link_to(content_tag(:i, 'Log In', class: 'fa fa-sign-in'),new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi, <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li> <%= link_to("Admin Menu", admin_products_path) %> </li>
                <% end %>
                <li> <%= link_to("Your Order", account_orders_path) %> </li>
                <li><%= link_to(content_tag(:i, 'Sign Out', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
              </ul>
          </li>
        <% end %>
      </ul> -->
    <!-- </div> -->
    <!-- /.navbar-collapse -->
  <!-- </div> -->
  <!-- /.container-fluid -->
<!-- </nav> -->
