<!DOCTYPE html>
<html>
  <head>
    <title> Account Center </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="container">
        <%= render "common/navbar" %>

          <div class="">

            <!-- side bar -->
            <div class="col-xs-2 nav-left-style">
              <hr>
              <h3> My Account </h3>
              <p><%= current_user.email %></p>
              <hr>
              <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li><%= link_to("My Orders", account_orders_path, class: "li-style") %></li>
                <li><%= link_to("My Collections", account_collections_path, class: "li-style") %></li>
              </ul>
              <hr> 
            </div>

            <div class="col-xs-10">
              <%= yield %>
            </div>

          </div>
      </div>
    </div>


    <%= render "common/footer" %>

  </body>
</html>
